https://pandas.pydata.org/

good for data manipulation and analysis.
Build on numpy, scipy .. Tabular data with heterogeneously-type columns

ordered and unordered time series data

arbitary materix data with row and column labels

In [1]:
import pandas as pd

In [2]:
data = {'a':0, 'b':1., 'c':2.}

### series

In [3]:
s = pd.Series(data)

In [4]:
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

### dataframe

In [6]:
data = {'Name':['Dheeraj', 'Peter', 'Bo', 'DJ'],'Age':[20,23,26,29]}

In [7]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

In [8]:
print(df)

          Name  Age
rank1  Dheeraj   20
rank2    Peter   23
rank3       Bo   26
rank4       DJ   29

In [9]:
dict_web = {'Day':[1,2,3,4,5,6],"Visitors":[1000,700,6000,1000,400,350], "Bounce_rate":[20, 20, 23,15,10,34]}

In [10]:
df = pd.DataFrame(dict_web)

In [11]:
print(df)

   Day  Visitors  Bounce_rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

### Slicing

In [13]:
#start only 2 rows
print(df.head(2))

   Day  Visitors  Bounce_rate
0    1      1000           20
1    2       700           20

In [14]:
print(df.tail(2))

   Day  Visitors  Bounce_rate
4    5       400           10
5    6       350           34

### Merging

In [15]:
df1 = pd.DataFrame({"HPI":[80,90,70,60], "Interest_rate":[2,1,2,3], "IND_GDP":[50, 45, 45, 67]}, index=[2001, 2002, 2003, 2004])

In [16]:
df2 = pd.DataFrame({"HPI":[80,90,70,60], "Interest_rate":[2,1,2,3], "IND_GDP":[50, 45, 45, 67]}, index=[2005, 2006, 2007, 2008])

In [17]:
merge  = pd.merge(df1, df2)

In [18]:
print(merge)

   HPI  Interest_rate  IND_GDP
0   80              2       50
1   90              1       45
2   70              2       45
3   60              3       67

In [19]:
merge  = pd.merge(df1, df2, on ="HPI")
print(merge)

   HPI  Interest_rate_x  IND_GDP_x  Interest_rate_y  IND_GDP_y
0   80                2         50                2         50
1   90                1         45                1         45
2   70                2         45                2         45
3   60                3         67                3         67

### joining

### changing header & index

In [27]:
print(df)

     Users  Bounce_rate
Day
1     1000           20
2      700           20
3     6000           23
4     1000           15
5      400           10
6      350           34

In [23]:
df.set_index("Day", inplace=True)

In [24]:
print(df)

     Visitors  Bounce_rate
Day
1        1000           20
2         700           20
3        6000           23
4        1000           15
5         400           10
6         350           34

In [25]:
df = df.rename(columns={"Visitors":"Users"})

In [26]:
print(df)

     Users  Bounce_rate
Day
1     1000           20
2      700           20
3     6000           23
4     1000           15
5      400           10
6      350           34

### Concatenation

In [28]:
concat = pd.concat([df1,df2])

In [29]:
print(concat)

      HPI  Interest_rate  IND_GDP
2001   80              2       50
2002   90              1       45
2003   70              2       45
2004   60              3       67
2005   80              2       50
2006   90              1       45
2007   70              2       45
2008   60              3       67

### Data munging

country = pd.read_csv()
#convert csv into html
country.to_html('edu.html')

In [37]:
from statistics import median, mean, mode, variance

In [34]:
print(median([1,1,1,2,2]))

1

In [35]:
print(mean([1,1,1,2,2]))

1.4

In [36]:
print(mode([1,1,1,2,2]))

1

In [38]:
print(variance([1,1,1,2,2]))

0.3